.container {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  height: 100vh;
  margin: 0px;
}

.itemList {
  grid-column: 2 / 3;
  background-color: rgb(172, 173, 177);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-template-rows: repeat(auto-fill, 50px);
}

.gridItem {
  background-color: rgb(88, 115, 255);
}
